openapi: 3.1.0
info:
  title: Microsoft Graph API (Applications) Groups Users API
  description: 'Subset of the Microsoft Graph REST API surface covering common Microsoft 365

    application scenarios: user profile, mail, calendar, files (OneDrive), contacts,

    groups, and people insights. Authentication uses the Microsoft identity platform

    (OAuth 2.0) with a bearer access token.

    '
  version: '1.0'
  contact:
    name: Microsoft Graph
    url: https://developer.microsoft.com/graph
  license:
    name: Microsoft APIs Terms of Use
    url: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0
- url: https://graph.microsoft.com/beta
  description: Microsoft Graph beta
security:
- oauth2: []
tags:
- name: Users
paths:
  /users:
    get:
      operationId: listUsers
      summary: List users in the organization
      parameters:
      - in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          type: integer
      responses:
        '200':
          description: Collection of users
      tags:
      - Users
  /users/{user-id}:
    get:
      operationId: getUser
      summary: Get a user by id or userPrincipalName
      parameters:
      - in: path
        name: user-id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: User
      tags:
      - Users
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft identity platform OAuth 2.0
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            User.Read: Sign in and read user profile
            Mail.Read: Read user mail
            Files.Read: Read user files
            Calendars.Read: Read user calendars
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            https://graph.microsoft.com/.default: Application permissions
